@font-face {
	font-family: 'Berkeley Mono';
	src: url('./BerkeleyMonoVariable.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

:root {
	--background-color: #ffffff;
	--text-color: #000000;
	--secondary-text-color: #c6c6c6;
	--border-color: #c6c6c6;
	--hover-bg: #efefef;
	--link-bg: #efefef;
	--link-hover: #5cfd3c;
	--footer-btn-bg: #e0e0e0;
	--footer-btn-border: #c6c6c6;
}

[data-theme='dark'] {
	--background-color: #000;
	--text-color: #fff;
	--secondary-text-color: #666666;
	--border-color: #0e1216;
	--hover-bg: #ef6302;
	--link-bg: #2a2a2a;
	--link-hover: #ef6302;
	--footer-btn-bg: #2a2a2a;
	--footer-btn-border: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Berkeley Mono', monospace;
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.6;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.content {
	padding: 0.25rem;
}

pre {
	font-family: 'Berkeley Mono', monospace;
	font-size: 1rem;
	line-height: 1.2;
	color: #000000;
}

header {
	border: 4px solid var(--border-color);
	padding: 1rem;
	margin-bottom: 2rem;
}

h1 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1rem;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: underline;
	margin-bottom: 0.5rem;
}

/* Table Styles */
table {
	padding: 0.5rem;
	border-collapse: collapse;
	width: 100%;
}

td {
	border-bottom: 2px solid var(--border-color);
	padding: 0.25rem;
}

/* Projects Table */
/* tr:hover {
	background-color: var(--hover-bg);
	color: var(--text-color);
} */

img {
	width: 100px;
	height: 100px;
}

a {
	color: inherit;
	text-decoration: underline;
	background-color: var(--link-bg);
}

a:hover {
	background-color: var(--link-hover);
	color: var(--text-color);
}

.active a {
	background-color: var(--link-hover) !important;
}

.project-name {
	text-align: left;
}

.project-description {
	text-align: left;
}

.date {
	text-align: left;
}

.view-link {
	text-align: right;
}

.project-status {
	font-size: 0.75rem;
	font-weight: 400;
	background-color: var(--footer-btn-bg);
	color: var(--text-color);
	padding: 0.25rem;
}

/* Articles Table
.articles-table {
	margin: 2rem 0;
	flex-grow: 1;
	font-size: 0.9rem;
}

.articles-table tr:hover {
	background-color: var(--hover-bg);
	color: var(--text-color);
}

.articles-table td {
	padding: 0.25rem;
}

.articles-table a:hover {
	background-color: #5cfd3c;
	color: black;
} */

/* Footer */
footer {
	border-top: 2px solid var(--border-color);
	padding: 0.5rem;
	margin-top: auto;
}

.footer-menu {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}

.footer-menu a {
	color: var(--text-color);
	text-decoration: none;
	background-color: var(--footer-btn-bg);
	border: none;
	padding: 0rem 0.25rem;
}

.footer-menu a:hover {
	background-color: var(--link-hover);
	color: var(--text-color);
}

.theme-toggle {
	font-family: 'Berkeley Mono', monospace;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	background-color: var(--footer-btn-bg);
	color: var(--text-color);
	border: none;
}

.theme-toggle:hover {
	background-color: var(--link-hover);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

/* Media Queries */
@media (max-width: 768px) {
	body {
		padding: 1rem;
	}

	h1 {
		font-size: 2rem;
	}

	.footer-menu {
		flex-direction: column;
		gap: 1rem;
	}
}

/* CRT Effect */

.disabled-link {
	color: var(--text-color);
	opacity: 0.5;
	cursor: not-allowed;
	text-decoration: line-through;
	background-color: var(--link-bg);
	padding: 0 0.25rem;
}

.company {
	text-align: left;
	font-size: 1rem;
}

.project-status.closed {
	background-color: var(--text-color);
	color: var(--background-color);
	padding: 0.1rem 0.25rem;
	line-height: 1;
}

.project-id {
	color: var(--secondary-text-color);
}

.location {
	text-align: left;
	font-size: 1rem;
	color: var(--secondary-text-color);
}

[data-theme='light'] .dark-logo {
	display: none;
}

[data-theme='dark'] .light-logo {
	display: none;
}

.footer-logos {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	position: relative;
}

.footer-logo {
	width: 25px;
	height: 25px; /* adjust as needed */
}
